# Project Requirements

## System
- Node.js (Latest LTS recommended, e.g., v18+ or v20+)
- npm (comes with Node.js)
- Git

## Backend (Server)
- Express: ^5.1.0
- Socket.IO: ^4.8.1
- Nodemon: ^3.1.11 (for dev)
- Cors: ^2.8.5

## Frontend (Client)
- Next.js: 16.0.3
- React: 18.3.0
- Socket.IO Client: ^4.8.1
- TailwindCSS: ^4
- Lucide React: ^0.554.0
